.main {
    display: flex;

    margin: 1.5rem;
    margin-top: 0;

    justify-content: space-evenly;

    .cardSocialMedia {
        width: 40vw;
        margin: 1rem;
    }

    // .leftSide {
    //     width: 20vw;
    // }

    // .rightSide{
    //     width: 20vw;
    // }
}